@charset "utf-8";
body{
    background-color: rgb(38, 197, 152);
    font-family: Georgia;
    font-size: medium;
    src:url(Precious.ttf) format('truetype');
    margin:0;
    max-width: 1000px;
    min-height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    border: 25px;
}

html{
    background-color: rgb(165, 128, 230);
    margin: 10;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 100%;
    }
input{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    margin: 8px 0;
    box-sizing:content-box;
    border-radius: 0px;
}